* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.client-reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.review-heading {
    font-size: 3.5rem;
    text-align: center;
    font-family: railway;
    margin-top: 30px;
}

.home-page {
    background-color: rgba(200, 250, 250, 0.377);
    margin-top: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page .heading {
    color: rgba(160, 93, 5, 0.871);
}

.home-page h1 {
    font-size: 4rem;
    margin-left: 100px;
    text-align: left;
    font-family: railway;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.695);
}

.home-page p {
    margin-left: 100px;
    width: 70%;
    margin-top: 0;
    text-align: left;
    color: black;
    font-size: 1.2rem;
}

.home-page img {
    margin-right: 100px;
}

.detail-button {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1.3rem;
    background-image: linear-gradient(rgba(160, 93, 5, 0.871), rgba(255, 166, 0, 0.634));
    border: none;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 15px;
}